<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
  <head>
	  {% block css_include %}
	  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	  {% endblock %}
	  <meta charset="utf-8">
	  {% if title %}
	  <title>{{title}}</title>
	  {% else %}
	  <title>NO title</title>
	  {% endif %}
	  {% block uninherit_script %}
	  {% endblock %}
	  {% block script %}
	  {% endblock %}
  </head>
  <body>
	  <div class="back">
		  <div class="main_navigation">
				<form action="/logout" name="logout" type="submit" method="post">
						<a href="/kino">{{_('Entertainment')}}</a> | <a href="/chat">{{_('Chat')}}</a> | <a href="/upload">{{_('File-exchange')}}</a> | <a href="/admin">{{_("Admin's panel")}}</a> | {% if nickname %} <a id="profile" href="/profile" style="color: #D400A4;">{{nickname}}</a>{% else %} Guest {% endif %}
						<input type="submit" {% if not nickname %} disabled {% endif %} name="logout" value="logout" style="background-image: url({{url_for('static', filename='logout2.png')}}); border: solid 1px #FFFFFF; color:#FFFFFF; cursor: pointer;">
					</form>
			</div>
	  <div class="fullpage">
		  <div style="position:relative">
		  {% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul style="list-style: none; padding: 5px 0px 15px 0px; margin: 0px 0px 0px 0px;">
				{% for message in messages %}
				<li style="background-color:rgba(0,0,0,0)"><font color="red">{{ message }} </font></li>
				{% endfor %}
			</ul>
			<br>
			{% endif %}
			{% endwith %}
			</div>
		  {% block content %}
		  {% endblock %}
		  {% block navigation %}
			<span class="navigation" style="position: absolute; top: 550px; left: 20px;">
				<script>
				  document.write('<a href="' + document.referrer + '"><img src="{{url_for("static", filename="back.png")}}"></a>');
				</script>
			</span>
		  {% endblock%}
		</div>
		</div>
  </body>
</html>
