{% extends "basesocial.html" %}
{% block menutop %}
<div class="menu-top">
	<ul class="tabrow">
		<li>
			<a href="/profile">{{_('My profile')}}</a>
		</li>
		<li>
			<a href="/people">/ {{_('People')}}</a>
		</li>
	</ul>
</div>
{% endblock %}
{% block body %}
<br>
<h1>{{_('people')}}</h1>
<h2>{{_('Filter')}}</h2>
<form name="filter" action="" method="get">
	{{_('nickname')}} {{form.nickname}} {{_('realname')}} {{form.realname}}<br>
	{{_('age')}} {{_('from')}} {{form.age}} {{_('up to')}} {{form.ageless}}<br>
	{{form.submit}} {{form.clear}}
</form>
<h2>{{_('total')}}: {{people_count}}</h2>
<div class="messages-box">
	{% for peop in people %}
	<div class="friend_record">
		<div style="float:left; width: 10%; margin: 5px; text-align: center; word-wrap: break-word;">
			<a href="/profile/{{peop.nickname}}"><img src="{{url_for('thumbnails', filename=peop.user_pic)}}" width="100%"></a>
				{{peop.nickname}}
		</div>
		<div style="margin 5px;">
			{{peop.realname}} {{peop.peop_birthday}}<br>
			{{peop.user_location_country}} - {{peop.user_location_city}}<br>
			{% if online[peop.nickname] %}
			<span style="color: green">{{_('Online')}}</span>
			{% else %}
			<span style="color: red">{{_('Offline')}}</span>
			{% endif %}
		</div>
		<div style="clear:both;text-align:right;">
			<a class="button-noblock" href="/messages/{{peop.nickname}}">{{_('Write message')}}</a>
			{% if not user.is_friend(peop) %}
				<form style="display: inline" name="del_from_friends" action="/addfriend/{{peop.nickname}}" method="post">
					<input type="submit" name="del" value="{{_('Add to friends')}}" />
				</form>
			{% else %}
				<form style="display: inline" name="del_from_friends" action="/delfriend/{{peop.nickname}}" method="post">
					<input type="submit" name="del" value="{{_('Remove from friends')}}" />
				</form>
			{% endif %}
			{#
			{% if not user.is_friend(peop) %}
			<a class="button-noblock" href="/addfriend/{{peop.nickname}}">{{_('Add to friends')}}</a>
			{% endif %}
			#}
		</div>
	</div>
	{% endfor %}
</div>
{% if pages_count %}
<div>
	{{_('Pages')}} {{page}} {{_('of')}} {{pages_count}} <br>
	{% for p in [-5,-4,-3,-2,-1] %}
		{% if p+page >= 0 %}
			<a href="/people?page={{p+page}}">{{p+page}}</a>
		{% endif %}
	{% endfor %}
	<span style="background: #5CA1E0">{{page}}</span>
	{% for p in [1,2,3,4,5] %}
		{% if p+page <= pages_count %}
			<a href="/people?page={{p+page}}">{{p+page}}</a>
		{% endif %}
	{% endfor %}
	{% if pages_count > 9 %}
		<a href="/people?page={{pages_count}}">{{_('last')}}</a><br>
	{% endif %}
	{% if page %}
	<a href="/people?page={{page-1}}">&lt;{{_('Back')}}</a>
	{% else %} 
	<a class ="disabled" href="/people?page={{page-1}}">&lt;{{_('Back')}}</a>
	{% endif %}
	<a href="/people?page={{page+1}}">{{_('Forward')}}&gt;</a>
</div>
{% endif %}
{% endblock %}
