{% extends "basesocial.html" %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='photo_navigation.js')}}"></script>
{% endblock %}
{% block menutop %}
<div class="menu-top">
	<ul class="tabrow">
		<li>
			<a href="/profile">{{_('My profile')}}</a>
		</li>
	</ul>
</div>
{% endblock %}
{% block body %}
<br>
<div style="margin-left: 5%; width: 90%;">
	<a id="left" href="/search_images/virtual_gallery/{{camera}}/{{lens.encode('hex')}}/{{iso_from}}/{{iso_to}}/{{size}}/{{tags|safe}}/{{photonum-1}}">
		<div class="arrow-left">
		</div>
	</a>
	<div style="float: left; width: 80%; margin-left: 5%; text-align: center;">
		<a href="{{url_for('upload', filename = photo.filename)}}">
			<img id="image" style ="width: auto; height : auto; max-height: 600px; max-width: 100%;" src="{{url_for('upload', filename = photo.filename)}}" width="100%">
		</a>
	</div>
	<a id="right" href="/search_images/virtual_gallery/{{camera}}/{{lens.encode('hex')}}/{{iso_from}}/{{iso_to}}/{{size}}/{{tags|safe}}/{{photonum+1}}">
		<div class="arrow-right">
		</div>
	</a>
</div>

<div style="clear:both; margin-left: 5%; text-align: center;">
	{% if photo.name %}
		{{photo.name}}
	{% else %}
		{{photo.filename.split('_', 2)[2]}}
	{% endif %}
	<br>
	{% if photo.tags.all() %}
		{% for tag in photo.tags.all() %}
			<a class="button-tag" href="/search_images/virtual_gallery/camera/{{camera}}/lens/{{lens}}/iso_from/{{iso_from}}/iso_to/{{iso_to}}/size/{{size}}/tags/{{tags}}/{{photonum}}?tag={{tag.entity}}">{{tag.entity}}</a>
		{% endfor %}
	{% endif %}
</div>
{% include "photo_above.html" %}
{% endblock %}
